@font-face {
  font-family: 'Bodoni Moda';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./aFTB7PxzY382XsXX63LUYJSPUqb0qojSAq1rZLkfbNxcXgOFEw.woff2') format('woff2');
  unicode-range: U+100-17F,U+2020,U+20B9;
}

@font-face {
  font-family: 'Bodoni Moda';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./aFTB7PxzY382XsXX63LUYJSPUqb0qojSAq1rZLkfbNxSXgM.woff2') format('woff2');
  unicode-range: U+20-7E,U+A0-FF,U+131,U+152-153,U+2000-206F,U+2212;
}

@font-face {
  font-family: 'Bodoni Moda';
  font-style: normal;
  font-weight: 400 500;
  font-display: swap;
  src: url('./aFTQ7PxzY382XsXX63LUYJSESKjEXw.woff2') format('woff2');
  unicode-range: U+100-17F,U+2020,U+20B9;
}

@font-face {
  font-family: 'Bodoni Moda';
  font-style: normal;
  font-weight: 400 500;
  font-display: swap;
  src: url('./aFTQ7PxzY382XsXX63LUYJSKSKg.woff2') format('woff2');
  unicode-range: U+20-7E,U+A0-FF,U+131,U+152-153,U+2000-206F,U+2212;
}

@font-face {
  font-family: 'Bodoni Moda';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./aFTQ7PxzY382XsXX63LUYJSESKjEXw.woff2') format('woff2');
  unicode-range: U+100-17F,U+2020,U+20B9;
}

@font-face {
  font-family: 'Bodoni Moda';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./aFTQ7PxzY382XsXX63LUYJSKSKg.woff2') format('woff2');
  unicode-range: U+20-7E,U+A0-FF,U+131,U+152-153,U+2000-206F,U+2212;
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./8vIJ7ww63mVu7gt7-GT7LEc.woff2') format('woff2');
  unicode-range: U+100-17F,U+2020,U+20B9;
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./8vIJ7ww63mVu7gt79mT7.woff2') format('woff2');
  unicode-range: U+20-7E,U+A0-FF,U+131,U+152-153,U+2000-206F,U+2212;
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./8vIJ7ww63mVu7gt7-GT7LEc.woff2') format('woff2');
  unicode-range: U+100-17F,U+2020,U+20B9;
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./8vIJ7ww63mVu7gt79mT7.woff2') format('woff2');
  unicode-range: U+20-7E,U+A0-FF,U+131,U+152-153,U+2000-206F,U+2212;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./92zatBhPNqw73ord4iYl.woff2') format('woff2');
  unicode-range: U+100-17F,U+2020,U+20B9;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./92zatBhPNqw73oTd4g.woff2') format('woff2');
  unicode-range: U+20-7E,U+A0-FF,U+131,U+152-153,U+2000-206F,U+2212;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./92zatBhPNqw73ord4iYl.woff2') format('woff2');
  unicode-range: U+100-17F,U+2020,U+20B9;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./92zatBhPNqw73oTd4g.woff2') format('woff2');
  unicode-range: U+20-7E,U+A0-FF,U+131,U+152-153,U+2000-206F,U+2212;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./92zatBhPNqw73ord4iYl.woff2') format('woff2');
  unicode-range: U+100-17F,U+2020,U+20B9;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./92zatBhPNqw73oTd4g.woff2') format('woff2');
  unicode-range: U+20-7E,U+A0-FF,U+131,U+152-153,U+2000-206F,U+2212;
}
